# A list is a value that contains multiple values in an ordered sequence.
The term list value refers to the list itself (which is a value that can be stored in a
variable or passed to a function like any other value), not the values inside
the list value.

In [2]:
#a simple List

[1,2,3,4]

[1, 2, 3, 4]

In [4]:
[1,2,'Aakash','apple','Vishal',3.5] #list containing multiple type of data

[1, 2, 'Aakash', 'apple', 'Vishal', 3.5]

In [5]:
lst = ['Aakash','Vikas', 'Ravi','Shivani','Rani'] #list containing String Data type

In [7]:
print(lst)

['Aakash', 'Vikas', 'Ravi', 'Shivani', 'Rani']

In [2]:
lst_num = [1,2,3,4,5,5.6,6.6,7.7,8.9] #list containing integer & Float Data type

In [3]:
print(lst_num)

[1, 2, 3, 4, 5, 5.6, 6.6, 7.7, 8.9]

In [4]:
#List with indexing
lst = ['Aakash','Vikas', 'Ravi','Shivani','Rani']

In [9]:
print(lst[4])

Rani

In [13]:
'Hello ' + lst[0]

'Hello Aakash'

In [15]:
lst[0] + lst[1]

'AakashVikas'

In [17]:
lst[1000] #will throw an error because you put index value more than available there..

IndexError: list index out of range

In [19]:
lst[1.0] #if you put float number it will give you an error indecx value should be always integer....

TypeError: list indices must be integers or slices, not float

Lists can also contain other list values. The values in these lists of lists
can be accessed using multiple indexes, like so:

In [22]:
name = [['aakash','ravi','yash'],['vinay','ashok','meena']]  #list of lists

In [24]:
name[1][0]

'vinay'

In [3]:
#negative indexing 
animals =  ['cat', 'bat', 'rat', 'elephant']

In [27]:
animals[-1]

'elephant'

In [29]:
print(animals[-2])

rat

In [32]:
animals[-4]

'cat'

In [34]:
#slicing with lists
animals[1:3]

['bat', 'rat']

In [36]:
animals[2:]

['rat', 'elephant']

In [39]:
animals[:4]

['cat', 'bat', 'rat', 'elephant']

In [41]:
animals[:]

['cat', 'bat', 'rat', 'elephant']

In [44]:
#list length
len(animals)

4

In [5]:
#Changing Values in a List with Indexes
animals[3] = 'ardvark'

In [4]:
animals

['cat', 'bat', 'rat', 'elephant']

In [6]:
#list concatination

list1 = ['aakash','ravi','simi']
list2 = ['shriram','kavi','shyam']  #elements append in 3rd position of the 1st list after concatination

In [7]:
list3 = list1+list2

In [9]:
list3

['aakash', 'ravi', 'simi', 'shriram', 'kavi', 'shyam']

In [11]:
#Removing Values from Lists with del Statements

lst3 = ['apple','banana','pineapple','date']

In [14]:
del lst3[2]

In [16]:
lst3

['apple', 'banana']

  # Working with Lists

In [6]:
name1 = 'aakash'
name2 = 'vinay'
name3 = 'ravi'
name4 = 'kishan'

In [7]:
name1 = str(input('Enter 1st Name:'))
name2 = str(input('Enter 2nd Name:'))
name3 = str(input('Enter 3rd Name:'))
name4 = str(input('Enter 4th Name:'))
print(name1 + ' ' + name2 + ' ' + name3 + ' ' +name4)

Enter 1st Name:a
Enter 2nd Name:b
Enter 3rd Name:c
Enter 4th Name:d
a b c d

In [13]:
names = []
while True:
    print('enter the name ' + str(len(names) + 1) + '(eneter nothing to stop:):')
    name = input()
    if name == 'aakash':
        break
    names = names + [name]      #it will break once it will got the name aakash found and then print all the name
print('The names are as follows:')
for name in names:
    print('' + name)

enter the name 1(eneter nothing to stop:):
abhi
enter the name 2(eneter nothing to stop:):
ram
enter the name 3(eneter nothing to stop:):
shyam
enter the name 4(eneter nothing to stop:):
dev
enter the name 5(eneter nothing to stop:):
aakash
The names are as follows:
abhi
ram
shyam
dev

# using for loops with Lists

In [9]:
fruits = ['aaple','bananas','date','mango']
for i in range(len(fruits)):                   #iteration of list in for loop
    print(str(i) + ' index ' + fruits[i])

0 index aaple
1 index bananas
2 index date
3 index mango

In [15]:
lst2 =  [1,2,3,4,5,6]

for i in lst2: #representing length of list iteration
#for i in range(len(lst2)):  #representing length of list
    print(i)

1
2
3
4
5
6

In [18]:
#The in and not in Operators

lst3 = [2,3,4,5,6,7,8,]
2 in lst3                      #it says the value is in list or not

True

In [20]:
lst4 = ['aakash','ravi','sunny','priya']
'aakash' not in lst4                    #it says the value not in list if not give false

False

In [ ]:
#To identify if the element is present or not in list

vegitable =  ['brinjal','tomato','potato','carrot','sweetpotato']
name = str(input('Enter the name of vegitable:'))
if name in vegitable:
    print(f" Yes Buddy {name} is in the vegitable List!")
else:
    print(f" No Buddy {name} is not in the List!")

In [2]:
#multiple assignment trick

dog = ['fat', 'white', 'loud']

size = dog[0]
white = dog[1]
disposition = dog[2]
dog = size,white,disposition

In [4]:
print(dog)

('fat', 'white', 'loud')

In [6]:
#Augmented Assignment Operators

value = 20
value += 30  #+= is called augmented assignment operators
print(value)

50

# Adding Values to Lists with the append() and insert() Methods

The previous append() method call adds the argument to the end of
the list.The insert() method can insert a value at any index in the list. 

These methods will work only with Lists otherwise will throw an error like str or dict type of object has no attribute append or inser.

In [3]:
#append
devices = ['laptop','mobile','smartwatch','earphones']
devices.append('tablet')

In [4]:
print(devices)

['laptop', 'mobile', 'smartwatch', 'earphones', 'tablet']

In [5]:
#insertion in list
device = ['laptop','mobile','smartwatch','earphones']
device.insert(1,'TV')

In [6]:
print(device)

['laptop', 'TV', 'mobile', 'smartwatch', 'earphones']

In [7]:
#remove method
animals = ['ardvark','lion','tiger','elephant']

In [8]:
animals.remove('lion')

In [10]:
animals

['ardvark', 'tiger', 'elephant']

In [11]:
if 'cat' not in animals:
    animals.append('cat')
else:
    print('you are appending same element!')

In [13]:
animals

['ardvark', 'tiger', 'elephant', 'cat']

In [14]:
if 'jaguar' not in animals:
    animals.insert(1,'jaguar')
else:
    print('you are inserting the same element!')

In [16]:
animals

['ardvark', 'jaguar', 'tiger', 'elephant', 'cat']

In [31]:
for animal in range(len(animals)):
    #print(animal)
    print(animals[animal])  #using for loop this will print all the elements in list.

ardvark
jaguar
tiger
elephant
cat

# Sorting the Values in a List with the sort() Method

In [4]:
#sort()
sort1 = [2.3,4.5,-9,10,-10,5,-7,23,22.9]
sort1.sort()

In [6]:
print(sort1)

[-10, -9, -7, 2.3, 4.5, 5, 10, 22.9, 23]

Sorted() and Sort()- There are two methods!

difference between them -

->sort() function is very similar to sorted() but unlike sorted it returns nothing and makes changes to the original sequence.
and sorted() method sorts the given sequence either in ascending order or in descending order and always return the a sorted list. This method doesnot effect the original sequence.

In [10]:
#sorted

string = ['z','p','q','r','e','y']

print(sorted(string))

['e', 'p', 'q', 'r', 'y', 'z']

In [12]:
#sorted reverse
string2 = ['z','p','q','r','e','y']
print(sorted(string2, reverse = True))

['z', 'y', 'r', 'q', 'p', 'e']

# The Tuple Data Type

Tuples are immutable. Tuples cannot have their values modified,
appended, or removed.

In [14]:
#tuples with indexing
tuples = (1,2,3,4,5,6)
tuples[1]

2

In [16]:
tuples[2] =8  #will throw an error as in tuples we cannot change the values

TypeError: 'tuple' object does not support item assignment

In [18]:
tuples[1:4]  #slicing

(2, 3, 4)

In [19]:
tuples[2:]

(3, 4, 5, 6)

In [20]:
tuples = ('aakash',)

In [21]:
type(tuples)

tuple

# Passing References

In [25]:
#defines the argument reference
def name(petname):
    petname.append('jhonny')


passing_name = ['lily','billy','tommy']
name(passing_name) #passing_name refers to petname argument
print(passing_name)

['lily', 'billy', 'tommy', 'jhonny']

# The copy Module’s copy() and deepcopy() Functions

In [26]:
import copy

city = ['new-delhi','mumbai','bhopal','varanasi']

add_city = copy.copy(city)

add_city[3] = 'mysore'

In [28]:
print(city)

['new-delhi', 'mumbai', 'bhopal', 'varanasi']

In [29]:
print(add_city)

['new-delhi', 'mumbai', 'bhopal', 'mysore']